$secondarycolor:#663399;
$primarycolor: #000023;

body{
    color: $primarycolor;
}
header{
    margin-top: 20px;
    .row {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;

        .button{
            text-align: end;
        }
    }
    
}
.card{
    margin-top: 15px;
    height: 180px;
    border: 0px;
    box-shadow: 0px 2px 15px #414c641f;

    .card-select{
        position: absolute;
    left: 2px;
    top: 6px;
    line-height: 9px;
    padding: 5px 15px;
    font-size: 17px;

    }

    .card-block{
        text-align: center;
        margin-top: 20px;
    }

    #bookDisplay{
        display: show;
    }
    #discDisplay{
        display: show;
    }
    #furnitureDisplay{
        display: show;
    }
}
#products{

    p{
        color: $secondarycolor;
    }
}
#product-form{
    padding: 20px;
    
}

#productType{
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.form-group{
    margin-bottom: 10px;

}

footer{
    p{
        text-align: center;
    }
}