body {
  color: #000023;
}

header {
  margin-top: 20px;
}

header .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

header .row .button {
  text-align: end;
}

.card {
  margin-top: 15px;
  height: 180px;
  border: 0px;
  -webkit-box-shadow: 0px 2px 15px #414c641f;
          box-shadow: 0px 2px 15px #414c641f;
}

.card .card-select {
  position: absolute;
  left: 2px;
  top: 6px;
  line-height: 9px;
  padding: 5px 15px;
  font-size: 17px;
}

.card .card-block {
  text-align: center;
  margin-top: 20px;
}

.card #bookDisplay {
  display: show;
}

.card #discDisplay {
  display: show;
}

.card #furnitureDisplay {
  display: show;
}

#products p {
  color: #663399;
}

#product-form {
  padding: 20px;
}

#productType {
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */